
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Help Me Piece</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="icon" href=~/picture/favicon.ico type="image/gif" sizes="16x16">
</head>
<body background="/picture/Background/bg.jpg">



    <div class="navbar  navbar-fixed-top" style="background-color:white" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar" style="background-color:lightseagreen"></span>
                    <span class="icon-bar" style="background-color:lightseagreen"></span>
                    <span class="icon-bar" style="background-color:lightseagreen"></span>
                </button>
                <a class="navbar-brand" style="font-family:'Brush Script MT';font-size:25px" onclick="location.href='@Url.Action("Index", "Index")';">

                    Help Me Piece
                </a>
            </div>



            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-left" style="color:#ffffff">

                    <li>@Html.ActionLink("ตรวจสอบอาการด้านหน้า", "Front", "HelpMeFront")</li>
                    <li>@Html.ActionLink("ตรวจสอบอาการด้านหลัง", "Back", "HelpMeBack")</li>
                    <li>@Html.ActionLink("ค้นหาโรงพยาบาล", "Hospital", "Hospital")</li>
                </ul>


                @if (HttpContext.Current.Session["Email"] != null)
                {
                    <ul class="nav navbar-nav navbar-right" style="color:#ffffff">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <b >
                                    <span class="glyphicon glyphicon-user"></span>
                                    คุณ. @HttpContext.Current.Session["Firstname"]<br />

                                </b>
                            </a>

                            <ul class="dropdown-menu" role="menu" style="min-width:130px">

                                <li style="text-align:right;font-size:14px"> @Html.ActionLink("โปรไฟล์", "Show", "Profile") </li>
                                <li style="text-align:right;font-size:14px"> @Html.ActionLink("เปลี่ยนรหัสผ่าน", "changpassword", "Profile")</li>
                                <li style="text-align:right;font-size:14px"> @Html.ActionLink("ประวัติการรักษา", "PMH_Show", "PMH")</li>
                                <li style="text-align:right;font-size:14px">@Html.ActionLink("ออกจากระบบ", "Logout", "Index")</li>




                            </ul>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right" style="color:#ffffff">
                        <li>@Html.ActionLink("เข้าสู่ระบบ", "Login", "Login")</li>
                        <li>@Html.ActionLink("สมัครสมาชิก", "Registor", "Registor")</li>
                    </ul>
                }
            </div>

        </div>
    </div>





    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>

</html>