
@{
    ViewBag.Title = "Index";
}
<head>
   
</head>
<html>
@using (Html.BeginForm())
{
    <body style="background-color:pink">
        <div style="text-align:center">
            <div class="container">
                <br />
                <div class="row">

                    <div class="col-md-12 personal-info">


                        <div class="form-group">
                            <div class="col-md-4" style="text-align:left">        
                            </div>
                            <div class="col-md-8" style="text-align:left">
                                <input name="Email_update" class="form-control" type="hidden" value="@HttpContext.Current.Session["Email"]" readonly>
                                <br />
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-4" style="text-align:left">
                                <label style="color:darkblue;font-size:24px;font-family:'Browallia New'">รหัสผ่านปัจจุบัน : </label>
                            </div>
                            <div class="col-md-8" style="text-align:left">
                                <input name="Password" class="form-control" type="Password" >
                                <p style="color:red ; font-weight:bold">@ViewBag.Error1</p>
                                <br />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4" style="text-align:left">
                                <label style="color:darkblue;font-size:24px;font-family:'Browallia New'">รหัสผ่านใหม่ : </label>
                            </div>
                            <div class="col-md-8" style="text-align:left">
                                <input class="form-control" id="Password_new" name="Password_new" type="password" minlength="6" maxlength="15" title="Enter password of 6-15 charecter required">                              
                                <p   style="color:red ; font-weight:bold">@ViewBag.Error3</p>
                                <br />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4" style="text-align:left">
                                <label style="color:darkblue;font-size:24px;font-family:'Browallia New'">ยืนยันรหัสผ่านใหม่ : </label>
                            </div>
                            <div class="col-md-8" style="text-align:left">
                                <input class="form-control" id="Comfirm_new" name="Comfirm_new" type="password" minlength="6" maxlength="15">
                                <p style="color:red ; font-weight:bold">@ViewBag.Error2</p>
                                <br />
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-8" style="text-align:left">
                                <input class="btn btn-default" type="submit" value="บันทึก" onclick="myFunction()" />
                                <input class="btn btn-default" type="submit" value="ยกเลิก" onclick="location.href='@Url.Action("Show", "Profile")';" />
                            </div>
                        </div>

                        @if (ViewBag.ok != null)
                        {

                            <script>
                                alert("เปลี่ยนรหัสผ่านเรียบร้อย");
                            </script>

                        }
                       
                        
                    </div>
                </div>
                <hr>
            </div>

        </div>

    </body>
}
</html>

