@model MyProject.Models.Profile
@using System.Globalization;
@{
    ViewBag.Title = "Index";
}
<head>
    @if (ViewBag.ok != null)
    {

        <script>
            alert("บันทึกเรียบร้อย");
        </script>

    }
</head>
<html>
<body style="background-color:pink">
    <div style="text-align:center">
        <div class="container">
            <br />
            <div class="row">

                <div class="col-md-12 personal-info">


                    <div class="form-group">
                        <div class="col-md-4" style="text-align:left">

                            <label style="color:darkblue;font-size:24px;font-family:'Browallia New'">อีเมลล์ : </label>

                        </div>
                        <div class="col-md-8" style="text-align:left">
                            <input class="form-control" type="text" value="@Model.Email" readonly>
                            <br />
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-4" style="text-align:left">
                            <label style="color:darkblue;font-size:24px;font-family:'Browallia New'">ชื่อจริง : </label>
                        </div>

                        <div class="col-md-8" style="text-align:left">
                            <input class="form-control" type="text" value="@Model.Firstname" readonly>
                            <br />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4" style="text-align:left">
                            <label style="color:darkblue;font-size:24px;font-family:'Browallia New'">นามสกุล : </label>
                        </div>
                        <div class="col-md-8" style="text-align:left">
                            <input class="form-control" type="text" value="@Model.Lastname" readonly>
                            <br />
                        </div>
                    </div>
                    @if (Model.Birthday != null)
                    {
                        //DateTime dt = DateTime.ParseExact(Model.Birthday.ToString(), "MM/dd/yyyy hh:mm:ss tt", CultureInfo.InvariantCulture);
                        string s = Model.Birthday.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture);

                        <div class="form-group">
                            <div class="col-md-4" style="text-align:left">
                                <label style="color:darkblue;font-size:24px;font-family:'Browallia New'">วัดเกิด : </label>
                            </div>
                            <div class="col-md-8" style="text-align:left">
                                <input class="form-control" type="datetime" value="@s" readonly>
                                <br />

                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <div class="col-md-4" style="text-align:left">
                            <label style="color:darkblue;font-size:24px;font-family:'Browallia New'">โรคประจำตัว : </label>
                        </div>
                        <div class="col-md-8" style="text-align:left">
                            <input class="form-control" type="text" value="@Model.Congenital_disease" readonly>
                            <br />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4" style="text-align:left">
                            <label style="color:darkblue;font-size:24px;font-family:'Browallia New'">เพศ : </label>
                        </div>
                        <div class="col-md-8" style="text-align:left">
                            <input class="form-control" type="text" value="@Model.Sex" readonly>
                            <br />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4" style="text-align:left">
                            <label style="color:darkblue;font-size:24px;font-family:'Browallia New'">เบอร์ติดต่อ : </label>
                        </div>
                        <div class="col-md-8" style="text-align:left">
                            <input class="form-control" type="text" value="@Model.Contact" readonly>
                            <br />
                        </div>
                    </div>





                    <div class="form-group">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-8" style="text-align:left">
                            <input class="btn btn-default" type="submit" value="แก้ไข" onclick="location.href='@Url.Action("Edit", "Profile")';" />

                        </div>
                    </div>

                </div>
            </div>
            <hr>
        </div>

    </div>

</body>
</html>
