@model MyProject.Models.Medical_history


<html>

<body style="background-color:pink">
    @Html.AntiForgeryToken()
    <div style="text-align:center">
        <div class="container">
            <br />
            <p style="font-size:48px ;color:darkturquoise">@Model.Symtpomatic</p>
        </div>
        <div class="row">

            <div class="col-md-12 personal-info">



                <div class="form-group">
                    <div class="col-md-8" style="text-align:left">
                        <p style="font-size: 30px">
                            <label style="margin-right:10px;color:darkturquoise">@Model.PMH</label>
                        </p>

                        <br />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12" style="text-align:left">

                        <span class="pull-right" style="margin:5px 10px 0px 0px">
                            <p style="font-size:16px"> @Html.ActionLink("ลบประวัติการรักษานี่", "PMH_Show", new { id = Model.ID_PMH }, new { onclick = "return confirm('Are you sure want to deleted?')", style = "color: white" })</p>

                        </span>


                    </div>
                    <div class="col-md-8" style="text-align:right">
                        <span class="pull-left" style="margin:5px 10px 0px 0px">
                            <p style="font-size:16px">@Html.ActionLink("ย้อนกลับ", "PMH_Show", new { }, new { style = "color:white" })</p>
                        </span>
                    </div>
                </div>







            </div>
        </div>
        <hr>
    </div>




</body>
</html>



